<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'home_page_style.css') }}">
    </head>
    
    <body>
        
        
        <br>

        {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class='alert alert-{{ category }}'>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="images">
        
            <div class="gallery" id="image1">
            <a href="#">
            <div class="overlay">
            <div class="desc">Add description of image</div>
            </div>
            <div class="adventure">
                <h1>Adventure</h1>
            </div>
        </a>
        </div>
        

        
        
        <div class="gallery" id="image2">
            <a href="#">
            <div class="overlay">
                <div class="desc">Add description of image</div>
            </div>
            <div class="adventure">
                <h1>Religious</h1>
            </div>   
            </a>     
        </div>



        <div class="gallery" id="image3">
            <a href="#">
            <div class="overlay">
                <div class="desc">Add description of image</div>
            </div>   
            <div class="adventure">
                <h1>Historical</h1>
            </div>  
            </a>   
        </div>


        <div class="gallery" id=image4>
            <a href="#">
            <div class="overlay">
                <div class="desc">Add description of image</div>
            </div>  
            <div class="adventure">
                <h1>Environmental</h1>
            </div> 
            </a>  
        </div>   

    </div>
        
        <!-- <div class="sbutton">
        <button type="submit"><i class="fa fa-search"></i></button>
        </div> -->

        <div class="review">
            <div class="review1">
                <h1 style="text-align:center;">Review 1</h1>
            </div>

            <div class="review2">
                <h1 style="text-align:center;">Review 2</h1>
            </div>

            <div class="review3">
                <h1 style="text-align:center;">Review 3 </h1>
            </div>
        </div>

        <div class='nav'>
            <ul>
                <li class="trans"><a href="#" class="active"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li class="trans"><a href="#">Hotel</a></li>
                <li class="trans"><a href="#"><i class="fa fa-plane" style="font-size:21px; margin-right:20px;"></i>Flight</a></li>
                
                <li class="trans"><a href="#">Help</a></li>
                <li >
                   <form>
                        <div class="search searchbox">
                            <input type="search" name="search" id="ser" placeholder="Search....">
                        </div>
                        <div class="search searchbtn">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                </form>
                </li>
                <li class="trans"><a href="{{ url_for('account') }}">Account</a></li>
                <li class="trans"><a href="{{ url_for('logout') }}">Logout</a></li>
            
         </ul>
        </div>  


      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>